# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.venv/
venv/
env/
ENV/

# Build / distribution
build/
dist/
*.egg-info/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp
